.modal__label {
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  line-height: 20px;
  /* margin-bottom: 8px; */
  display: block;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__content.modal_type_edit-profile {
  height: 306px;
}

.modal_type_edit-profile .modal__submit {
  margin-top: 8px;
}
