.item-card {
  position: relative;
  width: 328px;
  display: flex;
  justify-content: center;
}

.item-card__controls {
  position: relative;
  top: 20px;
  right: 120px;
  display: flex;
  gap: 10px;
  /* border: 1px solid red; */
  margin-left: 10px;
}

.item-card__like-button {
  width: 21px;
  height: 18px;
  background: transparent url(../../assets/like-active.svg) center no-repeat;
  border: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  transition: opacity 0.3s ease;
  position: relative;
}

.item-card__like-button:hover {
  opacity: 0.5;
}

/* .item-card__like-button_active {
  background-image: url(../images/like-active.svg);
} */

.item-card__image {
  max-width: 325px;
  height: 328px;
  border-radius: 15px;
  object-fit: cover;
  gap: 20px;
}

.item-card__title {
  position: absolute;
  margin-left: 125px;
  margin-top: 15px;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background: #ffffff;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  padding: 5px;
}

.cards__text {
  margin-top: 40px;
  margin-bottom: 34px;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
}
