.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__text {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  width: 160px;
  height: 24px;
  display: contents;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header__logo {
  margin-right: 24px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  /* width: 157px; */
  height: 25px;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  cursor: pointer;
  line-height: 24px;
  border: none;
  background-color: transparent;
  font-weight: 700;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}
