.modal__content_type_image {
  width: 498px;
  height: 610px;
  border-radius: 15px;
  background-color: white;
}

.modal__footer {
  padding: 20px 0 32px 32px;
}

.modal__caption {
  color: black;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  margin: 0;
}

.modal__image {
  max-width: 498px;
  height: 498px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  font-weight: 700;
  /* position: relative; */
}

.modal__weather {
  color: black;
  margin: 12px 0 0 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  /* position: absolute; */
}

.modal__close-icon {
  width: 20px;
  height: 20px;
  /* color: black; */
}

.modal__delete-btn {
  display: flex;
  cursor: pointer;
  background-color: white;
  border: none;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  color: orangered;
  position: relative;
  left: 350px;
  bottom: 56px;
}
