.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 0 28px;
  margin-top: 171px;
}

.footer__text {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
